name: Nightly iceoryx2 run

on:
  schedule:
  - cron: "0 6 * * 1-5"
  workflow_dispatch:

jobs:
  static-code-analysis-rust-nightly:
    strategy:
      matrix:
        os: [windows-2022] # todo (iox2-#1049): Use windows latest here
        cargo-features-flag: [""]
    uses: ./.github/workflows/x86_32_workflow.yml
    with: 
      os: ${{ matrix.os }}
      cargo-features-flag: ${{ matrix.cargo-features-flag }}

  x86_32-nightly:
    strategy:
      matrix:
        os: [ubuntu-latest] # [windows-latest, ubuntu-latest, macos-latest]
        toolchain: [stable] # [stable, 1.83.0, beta, nightly]
    uses: ./.github/workflows/x86_32_workflow.yml
    with: 
      os: ${{ matrix.os }}
      toolchain: ${{ matrix.toolchain }}
      name: "release"
      mode: "release"
      cmake-build-type: "-DCMAKE_BUILD_TYPE=Release"

  x86_64-stable-nightly:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-2022] # todo (iox2-#1049): Use windows latest here
        # NOTE: enable for MinGW
        # toolchain: [stable, stable-gnu, 1.83.0]
        toolchain: [stable, 1.83.0]
        mode:
          - name: "release"
            arg: "--release"
            cmake-build-type: "-DCMAKE_BUILD_TYPE=Release" # required for Makefile Generators at config time
            cmake-build-config: "--config Release" # required for Visual Studio at build and install time
        cargo-features-flag: ["", "--features libc_platform"]
        include:
          - os: windows-2022 # todo (iox2-#1049): Use windows latest here
            toolchain: stable
            cmake-cxx-flags: '-DCMAKE_CXX_FLAGS="/MP"'
        exclude:
          - os: windows-2022 # todo (iox2-#1049): Use windows latest here
            cargo-features-flag: "--features libc_platform"
          - os: macos-latest
            cargo-features-flag: "--features libc_platform"
    uses: ./.github/workflows/x86_64_stable_workflow.yml
    with:
      os: ${{ matrix.os }}
      toolchain: ${{ matrix.toolchain }}
      mode-name: ${{ matrix.mode.name }}
      mode-arg: ${{ matrix.mode.arg }}
      mode-cmake-build-type: ${{ matrix.mode.cmake-build-type }}
      mode-cmake-build-config: ${{ matrix.mode.cmake-build-config }}
      mode-cmake-cxx-flags: ${{ matrix.mode.cmake-cxx-flags }}
      cargo-features-flag: ${{ matrix.cargo-features-flag }}

  x86_64_unstable-nightly:
    strategy:
      matrix:
        os: [windows-2022, ubuntu-latest, macos-latest] # todo (iox2-#1049): Use windows latest here
        toolchain: [beta, nightly]
        mode: 
          - name: "release"
            arg: "--release"
          - name: "debug"
            arg: ""
        exclude:
          - os: ubuntu-latest # Already run in Pull-Requests
            toolchain: [nightly]
            mode:
              - name: "debug"
                arg: ""
    uses: ./.github/workflows/x86_64_unstable_workflow.yml
    with:
      os: ${{ matrix.os }}
      toolchain: ${{ matrix.toolchain }}
      mode-arg: ${{ matrix.mode.arg }}
